<template>
  <li class="list-complete-item col-span-12 hover:scale-105">
    <NuxtLink :to="`${postData?._path}`">
      <h4 class="mt-0 mb-4 text-2xl md:text-3xl">
        {{ postData?.title }}
      </h4>

      <p class="font-light text-xl mb-4">{{ postData?.description }}</p>

      <section
        class="border border-dashed border-b-0 border-l-0 border-r-0 pt-5 border-brandGray-200"
      >
        <p v-if="postData?.category == 'Work'" class="mb-2 text-sm">
          <span class="font-semibold">Date worked: </span>
          {{ postData?.dateWorked }}
        </p>

        <p v-else class="mb-2 text-sm">
          <span class="font-semibold">Date posted:</span>
          {{ formattedDate(postData.date) }}
        </p>

        <p v-if="postData?.category == 'Work'" class="mb-2 text-sm">
          <span class="font-semibold">Type: </span>
          {{ postData?.type }}
        </p>

        <p v-if="postData?.tags" class="mb-2 text-sm">
          <span class="font-semibold">Tags: </span>
          <span
            v-for="(tag, i) in postData?.tags"
            :key="tag + i"
            :class="i + 1 == tagsTotal ? '' : 'mr-2'"
            >{{ tag }}{{ i + 1 == tagsTotal ? "" : "," }}</span
          >
        </p>
      </section>
    </NuxtLink>
  </li>
</template>

<script lang="ts" setup>
const props = defineProps({
  postData: {
    type: Object,
    required: true,
  },
});

const tagsTotal = computed(() =>
  props.postData.tags ? props.postData.tags.length : 0
);
</script>

<style>
.list-complete-item {
  transition: all 250ms ease-in-out;
}

.list-complete-enter,
.list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
  filter: blur(4px);
}

.list-complete-leave-active {
  position: absolute;
}
</style>
