<script setup lang="ts">
const route = useRoute();

const props = defineProps({
  title: {
    type: String,
    required: false,
  },
  subtitle: {
    type: String,
    required: false,
  },
});

// Gets all work posts and returns only the clientLogo and _path to build out my "clients I've worked with section"
const { data: workPosts } = await useAsyncData(route.path, () =>
  queryContent("work")
    .sort({ date: -1 })
    .only(["clientLogo", "_path", "title"])
    .find(),
);

const filteredWorkPosts = computed(() =>
  workPosts.value?.filter((workPost) => workPost.clientLogo !== undefined),
);
</script>

<template>
  <section
    v-if="filteredWorkPosts?.length"
    class="col-span-12 grid grid-cols-2 gap-8 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7"
  >
    <h2 v-if="props?.title" class="col-span-full text-2xl md:text-3xl my-0">
      {{ props?.title }}
    </h2>

    <RouterLink
      v-for="client in filteredWorkPosts"
      :key="client?._path"
      :to="client?._path"
      class="group m-0 p-0 col-span-1 md:col-span-auto md:has-[img:not(:hover)]:opacity-80 md:has-[img:hover]:opacity-100 transition-opacity"
    >
      <img
        :src="client?.clientLogo"
        class="bg-white transition-all rounded-xs border border-gray-800 m-0 p-0 w-full group-hover:scale-110"
      />
      <p
        class="transition-all text-sm text-center my-2 opacity-55 group-hover:opacity-80 group-hover:scale-110"
      >
        {{ client?.title }}
      </p>
    </RouterLink>
  </section>
</template>
