<script setup lang="ts">
import type { QueryBuilderParams } from '@nuxt/content';

const props = defineProps({
  path: {
    type: String,
    required: true,
  },
  title: {
    type: String,
    required: false,
  },
  description: {
    type: String,
    required: false,
  },
});

const postQuery: QueryBuilderParams = {
  path: props.path,
  limit: 3,
  where: [{ draft: false }],
  sort: [{ date: -1 }],
  only: ["title", "description", "date", "_path", "tags", "draft"],
};
</script>

<template>
  <section class="col-span-12 grid row-auto">
    <h2 v-if="props?.title" class="col-span-12 text-2xl md:text-3xl my-0 mb-2.5">
      {{ props?.title }}
    </h2>
    <p v-if="props?.description" class="col-span-12 mb-5">
      {{ props?.description }}
    </p>

    <ul
      class="col-span-12 col-start-1 grid grid-cols-12 md:gap-x-5 gap-y-10 md:gap-y-5 lg:gap-x-10 justify-around m-0"
    >
      <ContentList :query="postQuery" v-slot="{ list }">
        <template v-for="post in list" :key="post._path">
          <router-link
            v-if="post._path"
            :to="post?._path"
            class="group col-span-12 rounded-xs bg-base-300 shadow-lg border-gray-800 border transition-shadow md:col-span-6 md:nth-3:col-span-12 lg:col-span-4 lg:nth-3:col-span-4 nth-1:hover:shadow-red-500 nth-2:hover:shadow-green-500 nth-3:hover:shadow-purple-500 hover:cursor-pointer flex"
          >
            <li class="card">
              <div class="card-body">
                <h3 class="card-title m-0 mb-2 text-xl font-normal">{{ post.title }}</h3>

                <ul class="flex flex-wrap gap-2 m-0 mb-2">
                  <li v-for="tag in post.tags" :key="tag" class="badge text-xs">
                    {{ tag }}
                  </li>
                </ul>

                <p class="m-0 text-base">{{ post.description }}</p>

                <div class="card-actions flex justify-end mt-4">
                  <button
                    class="btn btn-link btn-xs inline-block p-0 transition-all underline-offset-4 group-hover:underline-offset-8 group-hover:scale-105"
                  >
                    Read more →
                  </button>
                </div>
              </div>
            </li>
          </router-link>
        </template>
      </ContentList>
    </ul>
  </section>
</template>
