<script setup>
defineProps(["tags", "selectedTag", "totalPosts"]);
defineEmits(["updateSelectedTag"]);
</script>

<template>
  <aside class="col-span-12 md:col-span-2 mb-8 md:mb-0 z-0">
    <h4 class="text-lg my-4 md:my-2 mt-0 underline underline-offset-8 w-full">
      Tags
    </h4>

    <small class="italic mt-3 mb-2 block"
      >Filter posts by selecting a Tag.</small
    >

    <ul
      class="overflow-y-scroll flex flex-nowrap md:flex-none md:flex-wrap md:overflow-visible"
    >
      <li
        v-for="tag in tags.sort()"
        :class="
          tag === selectedTag
            ? 'font-bold text-brand-pink hover:text-brand-pink scale-y-105 '
            : ''
        "
        class="transition-all ml-0 text-nowrap mr-4 leading-relaxed md:w-full hover:cursor-pointer hover:text-brand-pink-300 md:mr-0"
        @click="$emit('updateSelectedTag', tag)"
      >
        {{ tag }}
      </li>
    </ul>

    <div class="divider divider-primary my-2 md:my-2 opacity-80"></div>

    <p class="text-sm my-0">
      Total Posts: <b>{{ totalPosts }}</b>
    </p>
  </aside>
</template>
