:root {
  --customFontFamily: "CodeBoldRegular", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
  sans-serif;

  --customFontFamily--light: "CodeLightRegular", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
  sans-serif;
}

html {
  background-color: var(--color-gray-700) !important;
  scroll-behavior: smooth;
  scroll-padding: 70px;
  overflow: auto;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  @apply font-extralight text-gray-200;
  min-height: 100%;
  position: relative;
  height: 100%;
  color: var(--color-gray-100)
}

#__nuxt {
  flex-direction: column;
  display: flex;
  align-items: center;
  min-height: 100%;
}

body::before {
  background-image: linear-gradient(rgba(41, 41, 41, 0.3) 1px, transparent 1px),
    linear-gradient(to right, rgba(41, 41, 41, 0.3) 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: var(--color-gray-700) !important;

  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

strong {
  @apply font-semibold;
}

.nav {
  font-family: var(--customFontFamily);
}

h1,
h2,
h3,
h4,
h5 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: var(--customFontFamily);
  letter-spacing: 3px;

  &.light {
    font-family: var(--customFontFamily--light);
  }
}

a {
  &[target="blank"],
  &[target="_blank"] {
    padding-right: 20px;
    position: relative;
    line-height: 1;
    width: 100%;
  }

  [data-content-id] &[rel="blank"] {
    display: inline-block;
    position: relative;
    width: auto;
  }

  &[target="blank"]:after,
  &[target="_blank"]:after {
    text-decoration: none;
    position: absolute;
    margin: 0 0 0 5px;
    content: "\29C9";
    line-height: 1.2;
    right: 0;
    top: 0;
  }
}

.title {
  &.title--with-bottom-border {
    border-bottom: 2px solid transparent;

    &.title--border-danger {
      border-color: var(--color-red-50);
    }

    &.title--border-link {
      border-color: var(--color-blue-50);
    }

    &.title--border-success {
      border-color: var(--color-green-50);
    }
  }
}

