/*
  Styles Nuxt/Content content
*/

.nuxt-content {
  @apply mb-10;

  h1,
  h2,
  h3,
  h4,
  h5 {
    > a {
      text-decoration: none;
      position: relative;
      padding-left: 25px;
      text-wrap: initial;

      &:before {
        transition: text-shadow 250ms ease-in-out;
        color: var(--color-orange);
        vertical-align: top;
        text-align: center;
        position: absolute;
        font-weight: 400;
        height: 1.5rem;
        line-height: 1;
        content: "#";
        width: auto;
        opacity: 1;
        left: 0;
        top: 0;
      }
    }

    &:hover a::before {
      text-shadow: 0 0 15px var(--color-orange);
    }
  }

  h2 {
    @apply text-2xl mt-12 mb-3;
  }

  h3 {
    @apply text-xl mt-12 mb-3;
  }

  h4 {
    @apply text-lg mt-5 mb-3;
  }

  a {
    text-decoration: underline;
    position: relative;
    text-wrap: nowrap;

    &.break-words {
      text-wrap: initial
    }
  }

  /* Code samples */
  code,
  pre {
    @apply shadow-lg py-1 px-2 my-6 tracking-tight rounded-sm text-sm border-stone-700;
    background-color: #2d2d2d;
    word-break: break-all;
    overflow: scroll;
    max-width: 100%;
  }

  ul,
  ol {
    @apply list-disc p-0 ml-5 mb-5;

    li {
      @apply mb-2;
    }
  }

  p {
    @apply text-base tracking-wide mb-4;
  }

  p.introduction {
    @apply text-xl my-10;
  }
}
