@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-red: oklch(62.8% 0.25768330773615683 29.2338851923426);
  --color-red-50: oklch(84.85% 0.0827 18.93);
  --color-red-100: oklch(80.72% 0.1096 19.74);
  --color-red-200: oklch(73.46% 0.1626 21.86);
  --color-red-300: oklch(67.86% 0.2095 24.66);
  --color-red-400: oklch(64.21% 0.2435 27.63);
  --color-red-500: oklch(62.8% 0.25768330773615683 29.2338851923426);
  --color-red-600: oklch(52.1% 0.2137 29.23);
  --color-red-700: oklch(40.82% 0.1674 29.23);
  --color-red-800: oklch(28.68% 0.1176 29.23);
  --color-red-900: oklch(15.03% 0.0616 29.23);
  --color-red-950: oklch(15.03% 0.0616 29.23);

  --color-green: oklch(86.37% 0.2768 139.79);
  --color-green-50: oklch(94.64% 0.1122 135.63);
  --color-green-100: oklch(93.4% 0.1417 135.84);
  --color-green-200: oklch(91.32% 0.1943 136.36);
  --color-green-300: oklch(89.68% 0.23663189967435436 137.26558840572974);
  --color-green-400: oklch(88.44% 0.2663 138.45);
  --color-green-500: oklch(86.37% 0.2768 139.79);
  --color-green-600: oklch(71.42% 0.2282 139.65);
  --color-green-700: oklch(55.66% 0.1764 139.27);
  --color-green-800: oklch(38.65% 0.1208 138.58);
  --color-green-900: oklch(19.44% 0.0570725565998967 135.28265381800463);
  --color-green-950: oklch(19.44% 0.0570725565998967 135.28265381800463);

  --color-orange: oklch(67.59% 0.2174 38.8);
  --color-orange-50: oklch(89.03% 0.0627 46.97);
  --color-orange-100: oklch(86.17% 0.0818 48.14);
  --color-orange-200: oklch(80.57% 0.1202 47.58);
  --color-orange-300: oklch(75.37% 0.15788063140999356 45.498514878786686);
  --color-orange-400: oklch(71.03% 0.19125340466826465 43.165153232784526);
  --color-orange-500: oklch(67.59% 0.2174 38.8);
  --color-orange-600: oklch(56.26% 0.179 39.3);
  --color-orange-700: oklch(44.46% 0.1376 40.66);
  --color-orange-800: oklch(31.7% 0.0937 43.04);
  --color-orange-900: oklch(17.57% 0.0441 53.63);
  --color-orange-950: oklch(17.57% 0.0441 53.63);

  --color-blue: oklch(70.55% 0.148 244.28);
  --color-blue-50: oklch(96.8% 0.015 241.74);
  --color-blue-100: oklch(93.75% 0.031 237.53);
  --color-blue-200: oklch(87.43% 0.062 239.73);
  --color-blue-300: oklch(81.58% 0.092 240.56);
  --color-blue-400: oklch(75.97% 0.121 241.65);
  --color-blue-500: oklch(70.55% 0.148 244.28);
  --color-blue-600: oklch(62.94% 0.169 248.62);
  --color-blue-700: oklch(51.17% 0.135 248.07);
  --color-blue-800: oklch(38.36% 0.098 247.3);
  --color-blue-900: oklch(24.7% 0.057 244.42);
  --color-blue-950: oklch(17.26% 0.035 236.08);

  --color-purple: oklch(70.55% 0.148 244.28);
  --color-purple-50: oklch(94.39% 0.039 315.64);
  --color-purple-100: oklch(89.17% 0.079 315.96);
  --color-purple-200: oklch(78.88% 0.158 315.08);
  --color-purple-300: oklch(69.96% 0.23 314.36);
  --color-purple-400: oklch(63.2% 0.282 312.72);
  --color-purple-500: oklch(59.31% 0.301 309.63);
  --color-purple-600: oklch(50.21% 0.254 309.83);
  --color-purple-700: oklch(40.68% 0.206 310.17);
  --color-purple-800: oklch(30.55% 0.154 310.79);
  --color-purple-900: oklch(19.65% 0.098 313.48);
  --color-purple-950: oklch(13.47% 0.066 317.1);

  --color-pink: oklch(65.03% 0.265 357.51);
  --color-pink-50: oklch(94.72% 0.034 342.22);
  --color-pink-100: oklch(89.8% 0.068 343.48);
  --color-pink-200: oklch(80.51% 0.14 345.56);
  --color-pink-300: oklch(72.8% 0.206 348.23);
  --color-pink-400: oklch(67.51% 0.252 351.89);
  --color-pink-500: oklch(65.03% 0.265 357.51);
  --color-pink-600: oklch(55.03% 0.225 356.77);
  --color-pink-700: oklch(44.52% 0.182 356.07);
  --color-pink-800: oklch(33.34% 0.137 354.76);
  --color-pink-900: oklch(21.11% 0.088 351.47);
  --color-pink-950: oklch(14.16% 0.06 347.09);

  --color-gray: oklch(26.86% 0 0);
  --color-gray-50: oklch(26.86% 0 0);
  --color-gray-100: oklch(86.99% 0 0);
  --color-gray-200: oklch(73.16% 0 0);
  --color-gray-300: oklch(58.97% 0 0);
  --color-gray-400: oklch(43.86% 0 0);
  --color-gray-500: oklch(26.86% 0 0);
  --color-gray-600: oklch(23.93% 0 0);
  --color-gray-700: oklch(20.46% 0 0);
  --color-gray-800: oklch(16.84% 0 0);
  --color-gray-900: oklch(13.44% 0 0);
  --color-gray-950: oklch(9.69% 0 0);
}


@plugin 'daisyui';

@plugin "daisyui/theme" {
  name: "scriptedpixels";
  default: true;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: oklch(26.86% 0 0);
  --color-base-200: oklch(27% 0.006 286.033);
  --color-base-300: oklch(21% 0.006 285.885);

  --color-base-content: oklch(98% 0 0);

  --color-primary: oklch(67.59% 0.2174 38.8);
  --color-primary-content: oklch(98% 0.016 73.684);

  --color-secondary: oklch(70.55% 0.148 244.28);
  --color-secondary-content: oklch(94% 0.028 342.258);

  --color-accent: oklch(65.03% 0.2651 357.5);
  --color-accent-content: oklch(38% 0.063 188.416);

  --color-neutral: oklch(100% 0 0);
  --color-neutral-content: oklch(21% 0.006 285.885);

  --color-info: oklch(59.31% 0.3005 309.62);
  --color-info-content: oklch(29% 0.066 243.157);

  --color-success: oklch(86.37% 0.2768 139.79);
  --color-success-content: oklch(37% 0.077 168.94);

  --color-warning: oklch(91.1% 0.1895 101.29);
  --color-warning-content: oklch(41% 0.112 45.904);

  --color-error: oklch(62.8% 0.25768330773615683 29.2338851923426);
  --color-error-content: oklch(27% 0.105 12.094);

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
  --header-weight: 700;
}

@import './fonts.css';
@import './main.css';
@import './nuxt-content.css';
