/* basics */
html, body {
	background-color: #ffffff;
}
html {
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.3;
	color: #404040;
	margin: 0;
}
/* Font SIZING is controlled in fonts.css */
/* Font STYLING  */
a {
	color: blue;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1, h2 {
	line-height: 1;
}

/* Classes */
h1.col, h2.col, h1.row, h2.row {
	margin-left: 0;
	margin-bottom: 0;
}
p {
	margin-bottom: 0.5rem;
}
/* Main Styling */
#wrapper {
	margin: 0 auto;
	padding: 0 3%;
	/*
		Padding on sides of site for mobiles
	*/
	min-width:320px;
}

#demo .col {
	background: red;
}
