<script setup lang="ts">
const route = useRoute();
const router = useRouter();

const { data: surroundingPosts } = await useAsyncData(route.path, () =>
  queryContent("work").sort({ date: -1 }).findSurround(route.path)
);

const prev = computed(
  () => surroundingPosts.value && surroundingPosts.value[0]
);
const next = computed(
  () => surroundingPosts.value && surroundingPosts.value[1]
);
</script>

<template>
  <main class="grid grid-cols-2 grid-rows-auto w-full nuxt-content md:grid-cols-12">

    <header class="col-span-full mt-16 md:mt-20">
      <button
        class="btn btn-xs btn-grey"
        @click="router.push('/work')"
      >
        &larr; back
      </button>
    </header>

    <ContentDoc v-slot="{ doc }">
      <h1 class="col-span-full mt-6 mb-0 text-3xl mx-auto text-center md:mt-14 md:text-4xl">
        {{ doc.title }}
      </h1>

      <aside
        class="col-span-full my-10 pt-2 px-3 rounded-xs border border-gray-700 border-dashed md:col-span-10 md:col-start-2 lg:col-span-8 lg:col-start-3"
      >
        <p class="mb-2 text-sm">
          <span class="font-semibold">Type:</span>
          {{ doc.type }}
        </p>

        <p class="mb-2 text-sm">
          <span class="font-semibold">Date worked:</span>
          {{ doc.dateWorked }}
        </p>

        <p v-if="doc.tags" class="mb-2 gap-1 text-sm flex flex-wrap">
          <span class="font-semibold">Tags: </span>
          <span v-for="(tag, i) in doc.tags" :key="tag + i">
            {{ tag }}{{ i + 1 == doc.tags.length ? "" : "," }}
          </span>
        </p>
      </aside>

      <!-- Main body of the article -->
      <ContentRenderer class="col-span-full md:grid md:grid-cols-12" :value="doc" />

    </ContentDoc>

    <prev-next :prev="prev" :next="next" />
  </main>
</template>
