<script setup lang="ts">
useHead({
  title: "Scripted Pixels Ltd: About",
  meta: [
    {
      name: "description",
      content:
        "Hey there! I'm Kam Banwait, a London-based Front-end Web Developer fluent in Vue, JS/TypeScript, and TailwindCss. With a knack for clean code and intuitive design, I specialize in crafting dynamic user interfaces that captivate and engage.",
    },
  ],
});
</script>

<template>
  <section class="max-w-7xl px-3 mb-10 md:px-10 pt-40">
    <article
      class="grid grid-cols-1 md:grid-cols-12 grid-flow-row gap-y-10 mt-32 md:mt-40 md:gap-y-20 md:mb-16 items-start"
    >
      <header
        class="col-start-0 col-span-12 items-start gap-y-10 gap-x-5 lg:gap-x-10"
      >
        <img
          src="/images/KamBanwait.jpeg"
          alt="Photo of KamBanwait"
          class="float-right w-32 m-5 mt-0 h-auto rounded-xs transition-all bg-white bg-opacity/70 shadow-lg shadow-secondary ease-out hover:rotate-180 hover:scale-110 hover:shadow-primary md:w-44"
        />
        <p class="text-2xl max-w-4xl leading-relaxed">
          Hey there! I'm Kam Banwait, a London-based Front-end Web Developer
          fluent in Vue, JS/TypeScript, and TailwindCss. With a knack for clean
          code and intuitive design, I specialize in crafting dynamic user
          interfaces that captivate and engage.
        </p>
        <p class="text-2xl max-w-4xl leading-relaxed">
          I'll help you through Design, Development and Deployment. I thrive on
          pushing boundaries and delivering exceptional digital experiences.
          <a
            href="#"
            class="text-primary underline underline-offset-4"
            onclick="contactModal.showModal()"
            >Let's collaborate</a
          >
          and bring your vision to life!
        </p>
      </header>

      <aside
        class="col-start-0 col-span-12 order-1 space-y-20 md:space-y-0 md:space-x-10 md:order-1 md:col-span-12 md:flex md:justify-between lg:order-0 lg:block lg:col-span-3 lg:col-start-0 lg:space-y-10 lg:space-x-0 lg:pr-10"
      >
        <div class="md:flex-1">
          <h4 class="text-lg my-4 md:my-2 mt-0 m-0">
            💻 <span class="underline underline-offset-8">Tech stack</span>
          </h4>
          <p class="text-base mt-2">What I like to use:</p>
          <ul class="space-y-1 list-disc list-inside text-sm">
            <li>Vue.js</li>
            <li>Nuxt</li>
            <li>React</li>
            <li>Vite</li>
            <li>Jest</li>
            <li>Cypress</li>
            <li>JavaScript</li>
            <li>CSS (Sass & tailwindCss)</li>
            <li>HTML</li>
            <li>
              Git (<a
                href="https://www.git-tower.com/p/refer-a-friend/R-V6U62EWPZV"
                class="text-secondary underline underline-offset-4"
                target="_blank"
                >Tower</a
              >
              is my preference)
            </li>
            <li>WordPress</li>
          </ul>
        </div>

        <div class="md:flex-1">
          <h4 class="text-lg my-4 md:my-2 mt-0 m-0">
            🧰 <span class="underline underline-offset-8">My toolbox</span>
          </h4>
          <p class="text-base mt-2">What I use on a daily basis:</p>
          <ul class="space-y-4 list-none list-inside text-sm">
            <li>💻 Apple M1 Pro MacBook Pro 14"</li>
            <li>📱 Apple iPhone 15 (daily driver)</li>
            <li>🖥️ LG Ultra-wide Monitor</li>
            <li>📱 iPad Air 10th Gen</li>
            <li>✏️ Apple Pencil 2nd Gen</li>
            <li>🤖 Samsung S20 Ultra (testing device)</li>
            <li>⌨️ Visual Studio Code</li>
            <li>
              🪑 Standing Desk from
              <a
                class="external underline underline-offset-3"
                target="_blank"
                href="https://flexispot.co.uk/login?invitationCode=gvdo7Ap9"
                >Flexispot</a
              >
            </li>
          </ul>
        </div>

        <div class="md:flex-1">
          <h4 class="text-lg my-4 md:my-2 mt-0 m-0">
            🎤 <span class="underline underline-offset-8">Podcasts</span>
          </h4>
          <p class="text-base mt-2">WebDev Podcasts I'm subscribed to:</p>
          <ul class="space-y-1 list-disc list-inside text-sm">
            <li>Syntax FM</li>
            <li>Shop Talk</li>
            <li>Modern Web</li>
            <li>Developer Tea</li>
            <li>JS Party</li>
            <li>Digital Insights</li>
            <li>HTML all things</li>
            <li>PodRocket</li>
            <li>Go make things</li>
            <li>Views on Vue</li>
            <li>Enjoy the Vue</li>
          </ul>
        </div>
      </aside>

      <main
        class="col-start-0 col-span-12 order-0 md:order-0 md:col-start-0 md:col-span-12 lg:order-1 lg:col-start-4 lg:col-span-10 flex flex-wrap"
      >
        <p class="text-xl leading-relaxed">
          I'm proficient in HTML, CSS (<a
            class="text-secondary"
            href="https://sass-lang.com"
            target="_blank"
            >Sass</a
          >), JavaScript (<a
            class="text-secondary"
            href="https://react.dev"
            target="_blank"
            >React</a
          >
          and/or
          <a class="text-secondary" href="https://vuejs.org" target="_blank"
            >Vue</a
          >), the
          <a class="text-secondary" href="https://jamstack.wtf" target="_blank"
            >JamStack</a
          >. I have an eye for clean design and can create wire-frames using
          <a class="text-secondary" href="http://figma.com" target="_blank"
            >Figma</a
          >
          (my preferred tool),
          <a class="text-secondary" href="https://www.sketch.com" target=""
            >Sketch</a
          >,
          <a
            class="text-secondary"
            href="https://www.adobe.com/uk/products/photoshop.html"
            target="_blank"
            >PhotoShop</a
          >
          &
          <a class="text-secondary" href="https://adobe.com/xd" target="_blank"
            >XD (🪦 rip)</a
          >.
        </p>

        <p class="text-xl leading-relaxed">
          I've lead teams, worked across and within various sized teams, as well
          as a solo developer. I don't class myself as a Full-stack developer
          but I'm not afraid of getting my hands onto some back-end code. I
          strongly believe in understanding the full life cycle of a project.
        </p>

        <p class="text-xl leading-relaxed">
          The Front-end is a crucial area for all projects. It's where the
          Business meets the customer and the customer experience is crucial
          here.
        </p>

        <p class="text-xl my-10 border-t border-dashed border-gray-600 pt-10">
          If you have a project that needs to be designed and/or built, even if
          you need some help/advice, then please
          <a
            href="#"
            class="text-primary underline underline-offset-4"
            onclick="contactModal.showModal()"
            >send me a message</a
          >.
        </p>
      </main>
    </article>
  </section>
</template>
