<script setup lang="ts">
const route = useRoute();
const selectedTag: Ref<string> = ref("");

useHead({
  title: "Scripted Pixels Ltd: Blog",
  meta: [
    {
      name: "description",
      content:
        "These are some of my thoughts, rants, tutorials and learnings from my time as a web developer. I try to find time to write down what I've learnt as it helps my understanding as well as being useful for future reference for myself, or someone else.",
    },
  ],
});

const handleSelectedTag = (tag: string) => {
  selectedTag.value = selectedTag.value === tag ? "" : tag;
};

// Create a query looking into content/articles directory
const { data: blogPosts } = await useAsyncData(route.path, () =>
  queryContent("blog").where({ draft: false }).sort({ date: -1 }).find()
);

// Using the blog posts query to get all tags
const blogTags = computed(() => {
  if (blogPosts.value) {
    const allTags = blogPosts.value.map((blogPost) => blogPost.tags).flat();
    return [...new Set(allTags)];
  } else {
    return [];
  }
});

const filteredBlogPosts = computed(() => {
  if (selectedTag.value) {
    return blogPosts.value?.filter((blogPost) =>
      blogPost.tags.includes(selectedTag.value)
    );
  } else {
    return blogPosts.value;
  }
});
</script>

<template>
  <section
    class="grid grid-cols-12 grid-flow-row gap-y-20 mt-32 md:mt-40 md:gap-y-40 md:mb-16"
  >
    <header class="col-span-12 flex flex-col space-y-4">
      <h3 class="w-full text-3xl md:text-4xl m-0">Blog</h3>
      <p class="max-w-4xl m-0 text-xl">
        These are some of my thoughts, rants, tutorials and learnings from my
        time as a web developer. I try to find time to write down what I've
        learnt as it helps my understanding as well as being useful for future
        reference for myself, or someone else.
      </p>
    </header>

    <TheTagsList
      @update-selected-tag="handleSelectedTag"
      :tags="blogTags"
      :selected-tag="selectedTag"
      :total-posts="blogPosts?.length"
    />

    <TransitionGroup
      class="col-span-12 grid grid-cols-12 gap-y-20 h-max md:col-start-4 md:col-span-9"
      tag="ul"
      name="list-complete"
    >
      <ListItems
        v-for="post in filteredBlogPosts"
        :key="post._id"
        :post-data="post"
      />
    </TransitionGroup>
  </section>
</template>
