<script setup lang="ts">
const title = ref("Scripted Pixels: Design, Develop, Deliver");
const description = ref(
  "Scripted Pixels Ltd, a solo developer based in London, UK. Bespoke web solutions tailored just for you! From concept to launch, I'm here to make your digital dreams a reality."
);

useHead({
  title: title.value,
  meta: [{ name: "description", content: description.value }],
});
</script>

<template>
  <section
    class="grid grid-cols-12 grid-rows-auto gap-y-20 px-5 pt-15 md:mt-15"
  >
    <div class="h-[70dvh] grid place-content-center col-span-12">
      <div class="mx-auto max-w-3xl px-4">
        <div class="text-gray-100 text-center">
          <h1
            class="text-4xl flex flex-col mx-auto tracking-widest text-center w-fit mb-10 md:text-6xl"
          >
            <span class="my-2 md:my-3 leading-relaxed min-[497px]:leading-none"
              >Design, Develop,</span
            >
            <span class="">Deliver.</span>
          </h1>

          <p
            class="mt-3 text-2xl md:text-3xl leading-8 text-gray-200 tracking-wider"
          >
            Bespoke web solutions tailored just for you!
          </p>

          <div class="my-10 flex flex-col items-center justify-center gap-y-6">
            <button
              class="btn text-lg shadow-lg transition-all duration-300 btn-primary w-60 hover:shadow-lg hover:shadow-orange-800 hover:scale-105"
              onclick="contactModal.showModal()"
            >
              Get in touch
            </button>
            <RouterLink
              class="btn btn-link btn-xs transition-all underline-offset-4 hover:underline-offset-8 hover:scale-105"
              to="/about"
              >Learn more →
            </RouterLink>
          </div>
        </div>
      </div>
    </div>

    <TheHomePageLogos title="Companies I've worked with" />
    <TheHomePagePosts
      path="work"
      title="My latest projects"
      description="What I've worked on most recently."
    />
    <TheHomePagePosts
      path="blog"
      title="From the Blog"
      description="Some thoughts and tips around the world of Front-end Web Development."
    />
  </section>
</template>
