<script setup lang="ts">
// Const count is assigned via defineModel() and takes in the 'count' as that's the v-model passed in from the parent.
// We can also assign a type and default to `count`
const count = defineModel('count', { type: Number, default: 0 })

// The update() method can update the `count` value and the parent will automatically see the updated value
const increment = () => count.value++;
</script>

<template>
  <p>Child vue showing 'count' from parent: <span class="badge badge-lg badge-secondary">{{ count  }}</span></p>
  <button @click="increment" class="btn btn-sm btn-secondary">Increment Counter in Child component</button>
</template>
