<script setup lang="ts">
onMounted(() => {
  const active = document.querySelector('.active');
  const previousSibling = active?.previousElementSibling;
  previousSibling?.classList.add('active-sibling');

  // const nextSibling = active?.nextElementSibling;
  // nextSibling?.classList.add('active-sibling');
});
</script>

<template>
<div class="col-span-full mt-8 mb-16 w-full max-w-[600px] mx-auto">
  <nav class="demo-menu flex w-full justify-evenly items-center uppercase text-sm">
    <a href="#" @click.prevent>Home</a>
    <a href="#" @click.prevent class="active">About</a>
    <a href="#" @click.prevent>Blog</a>
    <a href="#" @click.prevent>Contact</a>
  </nav>
</div>
</template>

<style scoped>
.demo-menu {
  opacity: 0.8;
}

.demo-menu a {
  text-decoration: none;
}

.demo-menu .active {
  opacity: 1;
  scale: 1.8;
}

.demo-menu .active-sibling,
/* Get the next sibling with CSS */
.demo-menu .active + a {
  scale: 1.2;
  opacity: 0.9;
}
</style>
