<template>
<div class="col-span-full mt-8 mb-16 w-full max-w-[600px] mx-auto">
  <nav class="demo-menu flex w-full justify-evenly items-center uppercase text-sm">
    <a href="#" @click.prevent>Home</a>
    <a href="#" @click.prevent>About</a>
    <a href="#" @click.prevent>Blog</a>
    <a href="#" @click.prevent>Contact</a>
  </nav>
</div>
</template>

<style scoped>
.demo-menu {
  opacity: 0.8;
}

.demo-menu a {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.demo-menu a:hover {
  opacity: 1;
  scale: 1.8;
}

.demo-menu :hover + a,
.demo-menu a:has(+ a:hover)  {
  scale: 1.2;
  opacity: 0.9;
}
</style>
