<script setup lang="ts">
const count = ref(0);
</script>

<template>
  <div class="col-span-full my-4 w-full max-w-[600px] mx-auto">
    <p class="m-0">Parent's count value: <span class="badge badge-lg badge-primary">{{ count  }}</span></p>
  </div>
  <div class="col-span-full mt-2 mb-4 w-full max-w-[600px] mx-auto">
    Child Component below has `v-model:count="count"` and is updating the parent's state:
    <br />
    <br />
    <Counter v-model:count="count" />
  </div>
</template>
