<script setup lang="ts">
const options = ref<string[]>(['Option 1', 'Option 2', 'Option 3']);

const addOption = () => options.value.push(`Option ${options.value.length + 1}`);
const removeOption = () => options.value.pop();

</script>

<template>
  <section class="bg-base-100 rounded-xs col-span-full mb-5 ">
    <div class="p-5 flex flex-col md:flex-row justify-center gap-3 divide-y-[1px] md:md:divide-y-0 md:divide-x-[1px] flex-wrap">
      <div v-if="!options.length" class=" opacity-15">Click the button to add an option</div>
      <div v-for="option in options" class="pt-3 md:pt-0 md:px-5 text-center">{{ option }}</div>
    </div>

    <div class="join w-full px-5 pb-5 justify-center mt-5">
      <button class="btn join-item btn-sm btn-primary" @click="addOption" :disabled="options.length >= 10">Add option</button>
      <button class="btn join-item btn-sm btn-warning" @click="removeOption" :disabled="!options.length">Remove option</button>
    </div>
  </section>
</template>
