<template>
  <div class="flex bg-base-100 rounded-xs col-span-full p-5 justify-center md:gap-3 mb-5 text-sm md:text-base">
    <div class="border-solid border-r-[1px] pl-3 pr-4 md:pl-5 md:pr-10 text-center">Option 1</div>
    <div class="border-solid border-r-[1px] pl-3 pr-4 md:pl-5 md:pr-10 text-center">Option 2</div>
    <div class="pl-3 pr-4 md:pl-5 md:pr-10 text-center">Option 3</div>
  </div>
</template>
