<script setup lang="ts">
const min = ref<number>(0);
const max = ref<number>(360);
const angle = ref<number>(90);

const colours = ref([
  {
    color: "#ff0000",
    colorStop: 15,
  },
  {
    color: "#3da8f5",
    colorStop: 30,
  },
  {
    color: "#53fa00",
    colorStop: 45,
  },
  {
    color: "#b300ff",
    colorStop: 60,
  },
  {
    color: "#ff5500",
    colorStop: 75,
  },
  {
    color: "#ff0091",
    colorStop: 100
  },
]);

const computedGradient = computed(() => {
  return {
    background: `linear-gradient(${angle.value}deg, ${colours.value.map((c) => c.color + " " + c.colorStop + "% ")})`,
    "background-clip": "text",
    color: "transparent",
  };
});

function updateColour(event: any, index: number) {
  if (event?.target === null) return;

  colours.value[index].color = event.target.value;
}

function updateColourStop(event: any, index: number) {
  if (event?.target === null) return;

  colours.value[index].colorStop = event.target.value;
}

</script>

<template>
  <div class="bg-base-100 rounded-xs col-span-full mb-5 text-center p-5">
    <h1 class="text-4xl md:text-6xl my-2" :style="computedGradient">
      CSS Gradient text
    </h1>

    <div class="divider"></div>

    <p class="w-full text-left">Use the inputs below to choose your own angle, colours and colour stop:</p>

    <label class="form-control my-5 mx-auto w-full max-w-2xl space-y-2.5">
      <div class="label justify-start gap-2">
        Change gradient angle
        <span class="text-sm opacity-50">({{ angle }}&deg;)</span>:
      </div>

      <input
        class="range range-xs range-secondary"
        type="range"
        :min="min"
        :max="max"
        v-model="angle"
        aria-label="Angle of gradient"
      />
    </label>

    <label class="form-control my-5 mx-auto w-full max-w-2xl space-y-2.5">
      <div class="label justify-start gap-2">Colours:</div>

      <div class="flex flex-wrap min-w-11 w-full gap-4 justify-center">
        <div v-for="(colour, index) in colours" :key="colours[index].color" class="flex flex-wrap gap-2 justify-center items-center">
          <input
            type="color"
            aria-label="Colour picker"
            :value="colours[index].color"
            class="max-w-[50px] max-h-[50px] h-full w-full aspect-square overflow-hidden"
            @change="updateColour($event, index)"
          />

          <input
            type="number"
            aria-label="Colour stop"
            :value="colours[index].colorStop"
            class="input input-bordered w-full max-w-xs min-w-[80px]"
            @change="updateColourStop($event, index)"
            min="0"
            max="100"
          />
        </div>
      </div>
    </label>

    <label class="form-control my-5 mx-auto w-full max-w-2xl">
      <div class="label">Generated styling:</div>
      <small class="opacity-50">{{ computedGradient }}</small>
    </label>
  </div>
</template>
