<template>
  <div class="col-span-full my-10 pb-4 px-3 rounded-xs border border-gray-900 shadow-lg bg-base-200">
    <p class="my-2">{{ message }}</p>

    <input
      v-model="message"
      aria-label="Message input"
      class="text-black p-2"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      message: 'Hello You!'
    }
  }
}
</script>
