<script setup lang="ts">
const passwordVisibility = defineModel<Boolean>('passwordVisibility');
const togglePasswordVisibility = () => passwordVisibility.value = !passwordVisibility.value;
</script>

<template>
  <small @click="togglePasswordVisibility" class="cursor-pointer">
    <span>{{ passwordVisibility ? '👍🏽' : '👎🏽'}}</span>
  </small>
</template>
