<script setup lang="ts">
const password = ref<string>('Re4lly5trongP4ssWºrd');
const canSeePassword = ref<boolean>(false);
</script>

<template>
<div class="col-span-full my-4 w-full max-w-[600px] mx-auto">
  <label for="password"
    class="input input-bordered flex items-center gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
      fill="currentColor" class="w-4 h-4 opacity-70">
      <path fill-rule="evenodd"
        d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
        clip-rule="evenodd" />
    </svg>

    <input :type="canSeePassword ? 'text' : 'password'" aria-label="Password for new account"
      id="password" placeholder="Password" v-model="password"
      autocomplete="new-password" class="grow" required />

    <PasswordIndicator v-model:passwordVisibility="canSeePassword" />
  </label>
</div>
</template>
