<script setup lang="ts">
import { withTrailingSlash, withLeadingSlash, joinURL } from 'ufo'
import { useRuntimeConfig, computed } from '#imports'

const props = defineProps({
  src: {
    type: String,
    default: ''
  },
  alt: {
    type: String,
    default: ''
  },
  width: {
    type: [String, Number],
    default: undefined
  },
  height: {
    type: [String, Number],
    default: undefined
  }
})

const refinedSrc = computed(() => {
  if (props.src?.startsWith('/') && !props.src.startsWith('//')) {
    const _base = withLeadingSlash(withTrailingSlash(useRuntimeConfig().app.baseURL))
    if (_base !== '/' && !props.src.startsWith(_base)) {
      return joinURL(_base, props.src)
    }
  }
  return props.src
})
</script>

<template>
  <div class="col-span-full py-10 my-10 text-center">
    <img
      :src="refinedSrc"
      :alt="alt"
      :width="width"
      :height="height"
      class="shadow-lg shadow-brand-purple-900 mx-auto rounded-xs border border-brand-purple-800"
    >
    <small class="block my-5 opacity-40">{{ alt }}</small>
  </div>
</template>
