<template>
  <p class="col-span-full min-h-96 flex md:col-span-10 md:col-start-2 lg:col-span-8 lg:col-start-3">
    <iframe class="col-span-full w-full inline-block" :src="`${props.src}&ctl=1`" :title="props.title"></iframe>
  </p>
</template>

<script setup lang="ts">
const props = defineProps<{ src?: string, title?: string}>();

</script>
