<template>
  <div class="col-span-full container w-full max-w-80 mx-auto">
    <div class="group card w-full mx-auto bg-base-100 shadow-xl">
      <figure>
        <img
          src="/images/blog/nike_trainers.jpeg"
          alt="Nike trainers in a, high-vis jacket, yellow"
          class="transition-all group-hover:scale-150"
        />
      </figure>

      <div class="card-body">
        <h4
          class="card-title m-0 my-2 transition-all group-hover:text-red-600 motion-safe:group-hover:animate-bounce"
        >
          You need running trainers
        </h4>

        <p
          class="transition-colors group-hover:text-primary motion-safe:group-hover:animate-pulse"
        >
          Can't go wrong with trainers like these... well, you can with this
          colour 😜!
        </p>

        <div class="card-actions justify-end">
          <button
            class="btn btn-secondary motion-safe:group-hover:animate-spin"
          >
            Buy Now
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
