<template>
  <ul class="col-span-full">
    <li class="my-4">Item 1</li>
    <li class="my-4">Item 2</li>
    <li class="my-4">Item 3</li>
    <li class="my-4">Item 4</li>
    <li class="my-4">Item 5</li>
  </ul>
</template>
