<template>
  <div
    class="col-span-full mb-10 grid grid-cols-2 gap-2 h-auto shadow-xl sm:max-md:grid-cols-6"
  >
    <div
      class="col-span-1 bg-base-100 shadow-xl border-solid border-green-200 border-2 w-autp h-20"
    ></div>
    <div
      class="col-span-1 bg-base-100 shadow-xl border-solid border-green-200 border-2 w-autp h-20"
    ></div>
    <div
      class="col-span-1 bg-base-100 shadow-xl border-solid border-green-200 border-2 w-autp h-20"
    ></div>
    <div
      class="col-span-1 bg-base-100 shadow-xl border-solid border-green-200 border-2 w-autp h-20"
    ></div>
    <div
      class="col-span-1 bg-base-100 shadow-xl border-solid border-green-200 border-2 w-autp h-20"
    ></div>
    <div
      class="col-span-1 bg-base-100 shadow-xl border-solid border-green-200 border-2 w-autp h-20"
    ></div>
  </div>
</template>
