<template>
  <div
    class="col-span-full md:col-span-10 md:col-start-2 container mb-10 mx-auto flex flex-wrap min-[450px]:flex-nowrap gap-5"
  >
    <div class="peer card w-full mx-auto bg-base-100 shadow-xl">
      <figure>
        <img
          src="/images/blog/nike_trainers.jpeg"
          alt="Nike trainers in a, high-vis jacket, yellow"
          class="transition-all"
        />
      </figure>

      <div class="card-body">
        <h4 class="card-title m-0 my-2 transition-all">
          You need running trainers
        </h4>

        <p class="transition-colors">
          Can't go wrong with trainers like these... well, you can with this
          colour 😜!
        </p>

        <div class="card-actions justify-end">
          <button class="btn btn-secondary">Buy Now</button>
        </div>
      </div>
    </div>

    <div
      class="peer-hover:opacity-50 transition-opacity card w-full mx-auto bg-base-100 shadow-xl"
    >
      <figure>
        <img
          src="/images/blog/nike_trainers.jpeg"
          alt="Nike trainers in a, high-vis jacket, yellow"
          class="transition-all"
        />
      </figure>

      <div class="card-body">
        <h4 class="card-title m-0 my-2 transition-all">
          You need running trainers
        </h4>

        <p class="transition-colors">
          Can't go wrong with trainers like these... well, you can with this
          colour 😜!
        </p>

        <div class="card-actions justify-end">
          <button class="btn btn-secondary">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</template>
